<template>
   <h5> <span class="badge bg-success">Crear Cliente</span></h5>  
   <router-link :to="{name: 'clientes.index'}" class="btn btn-sm btn-primary">Volver</router-link>

    <div v-if="errors"> 
          <div v-for="(v, k) in errors" :key="k">
              <p class="text-danger" v-for="error in v" :key="error">  
                  {{ error }}
              </p>
          </div>
    </div>

    <form  @submit.prevent="saveCliente">
        <div class="form-group">
            <label>Nombre Cliente</label>
            <input v-model="form.nombre" type="text" name="nombre" class="form-control">
        </div>

        <div class="form-group">
            <label>Correo Cliente</label>
            <input v-model="form.correo" type="text" name="correo" class="form-control">
        </div>

        <div class="form-group">
            <label>Cedula</label>
            <input v-model="form.cedula" type="text" name="cedula" class="form-control">
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input v-model="form.telefono" type="text" name="telefono" class="form-control">
        </div>

        <div class="form-group">
            <label>Observaciones</label>
            <textarea v-model="form.observacion" type="text" name="observacion" class="form-control"></textarea>
        </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
        </div>


    </form>

  
</template>


<script>
import { reactive } from 'vue';
import useClientes from "../../composables/clientes";

export default {

    setup() {
        const {errors, storeCliente } = useClientes()

        const form = reactive({
            'nombre': '',
            'correo': '',
            'cedula': '',
            'telefono': '',
            'observacion': '',
        })

        const saveCliente = async()=> {
            await storeCliente({...form})
        }

    return {
        form,
        errors,
        saveCliente
    }
    }
}
</script>