<template>
        
    <h5> <span class="badge bg-success">Editar Cliente</span></h5>
    <router-link :to="{name: 'clientes.index'}" class="btn btn-sm btn-primary">Volver</router-link>

    <div v-if="errors"> 
          <div v-for="(v, k) in errors" :key="k">
              <p class="text-danger" v-for="error in v" :key="error">  
                  {{ error }}
              </p>
          </div>
    </div>

    <form  @submit.prevent="saveCliente">
        <div class="form-group">
            <label>Nombre Cliente</label>
            <input v-model="cliente.nombre" type="text" name="nombre" class="form-control">
        </div>

         <div class="form-group">
            <label>Correo Cliente</label>
            <input v-model="cliente.correo" type="text" name="correo" class="form-control">
        </div>

         <div class="form-group">
            <label>Cédula Cliente</label>
            <input v-model="cliente.cedula" type="text" name="cedula" class="form-control">
        </div>

        <div class="form-group">
            <label>Telefono</label>
            <input v-model="cliente.telefono" type="text" name="telefono" class="form-control">
        </div>

        <div class="form-group">
            <label>Observaciones</label>
            <textarea v-model="cliente.observacion" type="text" name="observacion" class="form-control"></textarea>
        </div>


        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
        </div>


    </form>


</template>

<script>
import useClientes from "../../composables/clientes";
import { onMounted } from "vue"

export default {
    props: {
        id: {
            required: true,
            type: String
        }
    },

    setup(props) {
     
    const { errors, cliente, getCliente, updateCliente} = useClientes()

    onMounted(getCliente(props.id))

    const saveCliente = async () => {
        await updateCliente(props.id)
    }
     return{
         errors,
         cliente,
         saveCliente
     }
    }
    
}
</script>