<template>
        
    <h5> <span class="badge bg-success">Ver Cliente</span></h5>
    <router-link :to="{name: 'clientes.index'}" class="btn btn-sm btn-primary">Volver</router-link>

    <div v-if="errors"> 
          <div v-for="(v, k) in errors" :key="k">
              <p class="text-danger" v-for="error in v" :key="error">  
                  {{ error }}
              </p>
          </div>
    </div>
    <table class="table table-striped table-hover">
          <thead>
             <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Cedula</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Observaciones</th>
             </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">{{ cliente.id }}</th>
                 <td>{{ cliente.nombre }}</td>
                 <td>{{ cliente.correo }}</td>
                 <td>{{ cliente.cedula }}</td>
                 <td>{{ cliente.telefono }}</td>
                 <td>{{ cliente.observacion }}</td>
              </tr>
          </tbody>
    </table> 
</template>

<script>
import useClientes from "../../composables/clientes";
import { onMounted } from "vue"

export default {
    props: {
        id: {
            required: true,
            type: String
        }
    },

    setup(props) {
     
    const { errors, cliente, getCliente} = useClientes()

    onMounted(getCliente(props.id))

     return{
         errors,
         cliente,
     }
    }
    
}
</script>