<template>
    
    <h5> <span class="badge bg-success">Listado de clientes</span></h5>
    
    <div class="text-right">
       <router-link :to="{name: 'clientes.create'}" class="btn btn-sm btn-primary">Nuevo</router-link>
    </div>
  
    <table class="table table-striped table-hover">
          <thead>
             <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Cedula</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Acciones</th>
             </tr>
          </thead>
          <tbody>
             <template v-for="item in clientes.data" :key="item.id">
              <tr>
                <th scope="row">{{ item.id }}</th>
                 <td>{{ item.nombre }}</td>
                 <td>{{ item.correo }}</td>
                 <td>{{ item.cedula }}</td>
                 <td>{{ item.telefono }}</td>
                 <td>{{ item.observacion }}</td>
                 <td>
                   
                      <router-link :to="{name: 'clientes.ver', params: {id: item.id} }" class="btn btn-sm btn-success">Ver </router-link>
                      &nbsp; 
                      <router-link :to="{name: 'clientes.edit', params: {id: item.id} }" class="btn btn-sm btn-primary">Editar </router-link>
                      &nbsp; 
                      <button type="button" @click="deleteClientes(item.id)" class="btn btn-sm btn-danger">Eliminar</button>
                 </td>
              </tr>
             </template>   
          </tbody>
    </table> 
 
 </template>
 
 
 <script>
 import useClientes from "../../composables/clientes";
 import { onMounted } from "vue";
 
 export default {
 
 
    setup(){
          const {query_name, clientes, getClientes, destroyCliente } = useClientes()
 
          onMounted(getClientes)
 
          const deleteClientes = async (id) => {
             if(!window.confirm("Estas seguro?")){
                return 
             }
             await destroyCliente(id)
             await getClientes()
          }
 
       return {
        clientes,
          getClientes,
          deleteClientes,
          query_name 
 
       }
    }
 
 
 
 }
 
 </script>