<template>
    
    <h5> <span class="badge bg-success">Listado de servicios</span></h5>
    
    <div class="text-right">
       <router-link :to="{name: 'servicios.create'}" class="btn btn-sm btn-primary">Nuevo</router-link>
    </div>
  
    <table class="table table-striped table-hover">
          <thead>
             <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha fin</th>
                <th scope="col">Observaciones</th>
                <th scope="col">Acciones</th>
             </tr>
          </thead>
          <tbody>
             <template v-for="item in servicios.data" :key="item.id">
              <tr>
                <th scope="row">{{ item.id }}</th>
                 <td>{{ item.nombre }}</td>
                 <td>{{ item.tipo === 1 ? 'Básico' : 'Avanzado' }}</td>
                 <td>{{ item.fecha_inicio }}</td>
                 <td>{{ item.fecha_fin }}</td>
                 <td>{{ item.observacion }}</td>
                 <td>
                   
                      <router-link :to="{name: 'servicios.ver', params: {id: item.id} }" class="btn btn-sm btn-success">Ver </router-link>
                      &nbsp; 
                      <router-link :to="{name: 'servicios.edit', params: {id: item.id} }" class="btn btn-sm btn-primary">Editar </router-link>
                      &nbsp; 
                      <button type="button" @click="deleteServicios(item.id)" class="btn btn-sm btn-danger">Eliminar</button>
                 </td>
              </tr>
             </template>   
          </tbody>
    </table> 
 
 </template>
 
 
 <script>
 import useServicios from "../../composables/servicios";
 import { onMounted } from "vue";
 
 export default {
 
 
    setup(){
          const { servicios, getServicios, destroyServicio } = useServicios()
 
          onMounted(getServicios)
 
          const deleteServicios = async (id) => {
             if(!window.confirm("Estas seguro?")){
                return 
             }
             await destroyServicio(id)
             await getServicios()
          }
 
       return {
        servicios,
          getServicios,
          deleteServicios,
 
       }
    }
 
 
 
 }
 
 </script>