<template>
        
    <h5> <span class="badge bg-success">Ver Servicio</span></h5>
    <router-link :to="{name: 'servicios.index'}" class="btn btn-sm btn-primary">Volver</router-link>

    <div v-if="errors"> 
          <div v-for="(v, k) in errors" :key="k">
              <p class="text-danger" v-for="error in v" :key="error">  
                  {{ error }}
              </p>
          </div>
    </div>
    <table class="table table-striped table-hover">
          <thead>
             <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha fin</th>
                <th scope="col">Observaciones</th>
             </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">{{ servicio.id }}</th>
                 <td>{{ servicio.nombre }}</td>
                 <td>{{ servicio.tipo === 1 ? 'Básico' : 'Avanzado' }}</td>
                 <td>{{ servicio.fecha_inicio }}</td>
                 <td>{{ servicio.fecha_fin }}</td>
                 <td>{{ servicio.observacion }}</td>
              </tr>
          </tbody>
    </table> 
</template>

<script>
import useServicios from "../../composables/servicios";
import { onMounted } from "vue"

export default {
    props: {
        id: {
            required: true,
            type: String
        }
    },

    setup(props) {
     
    const { errors, servicio, getServicio} = useServicios()

    onMounted(getServicio(props.id))

     return{
         errors,
         servicio,
     }
    }
    
}
</script>