<template>
   <h5> <span class="badge bg-success">Crear Servicio</span></h5>  
   <router-link :to="{name: 'servicios.index'}" class="btn btn-sm btn-primary">Volver</router-link>

    <div v-if="errors"> 
          <div v-for="(v, k) in errors" :key="k">
              <p class="text-danger" v-for="error in v" :key="error">  
                  {{ error }}
              </p>
          </div>
    </div>

    <form  @submit.prevent="saveServicio">
        <div class="form-group">
            <label>Nombre Servicio</label>
            <input v-model="form.nombre" type="text" name="nombre" class="form-control">
        </div>

        <div class="form-group">
            <label>Tipo de Servicio</label>
            <!-- <input v-model="form.tipo" type="text" name="tipo" class="form-control"> -->
            <select class="form-control" v-model="form.tipo" name="tipo">
                <option value="1">Básico</option>
                <option value="2">Avanzado</option>
            </select>
        </div>

        <div class="form-group">
            <label>Fecha inicio</label>
            <input type="datetime-local" v-model="form.fecha_inicio" name="fecha_inicio" class="form-control">
        </div>

        <div class="form-group">
            <label>Fecha fin</label>
            <input type="datetime-local" v-model="form.fecha_fin" name="fecha_fin" class="form-control">
        </div>

        <div class="form-group">
            <label>Observaciones</label>
            <textarea v-model="form.observacion" type="text" name="observacion" class="form-control"></textarea>
        </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
        </div>


    </form>

  
</template>


<script>
import { reactive } from 'vue';
import useServicios from "../../composables/servicios";

export default {

    setup() {
        const {errors, storeServicio } = useServicios()

        const form = reactive({
            'nombre': '',
            'tipo': '',
            'fecha_inicio': '',
            'fecha_fin': '',
            'observacion': '',
        })

        const saveServicio = async()=> {
            await storeServicio({...form})
        }

    return {
        form,
        errors,
        saveServicio
    }
    }
}
</script>