<template>
        
    <h5> <span class="badge bg-success">Editar Servicio</span></h5>
    <router-link :to="{name: 'servicios.index'}" class="btn btn-sm btn-primary">Volver</router-link>

    <div v-if="errors"> 
          <div v-for="(v, k) in errors" :key="k">
              <p class="text-danger" v-for="error in v" :key="error">  
                  {{ error }}
              </p>
          </div>
    </div>

    <form  @submit.prevent="saveServicio">
        <div class="form-group">
            <label>Nombre Servicio</label>
            <input v-model="servicio.nombre" type="text" name="nombre" class="form-control">
        </div>

         <div class="form-group">
            <label>Tipo de Servicio</label>
            <!-- <input v-model="servicio.tipo" type="text" name="tipo" class="form-control"> -->
            <select class="form-control" v-model="servicio.tipo" name="tipo">
                <option value="1">Básico</option>
                <option value="2">Avanzado</option>
            </select>
        </div>

         <div class="form-group">
            <label>Fecha inicio</label>
            <input v-model="servicio.fecha_inicio" type="datetime-local" name="fecha_inicio" class="form-control">
        </div>

        <div class="form-group">
            <label>Fecha fin</label>
            <input v-model="servicio.fecha_fin" type="datetime-local" name="fecha_fin" class="form-control">
        </div>

        <div class="form-group">
            <label>Observaciones</label>
            <textarea v-model="servicio.observacion" type="text" name="observacion" class="form-control"></textarea>
        </div>


        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
        </div>


    </form>


</template>

<script>
import useServicios from "../../composables/servicios";
import { onMounted } from "vue"

export default {
    props: {
        id: {
            required: true,
            type: String
        }
    },

    setup(props) {
     
    const { errors, servicio, getServicio, updateServicio} = useServicios()

    onMounted(getServicio(props.id))

    const saveServicio = async () => {
        await updateServicio(props.id)
    }
     return{
         errors,
         servicio,
         saveServicio
     }
    }
    
}
</script>